<div *ngIf="showQuoteOfDay()" fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <p>"{{ QuoteDay }}"</p>
  </mat-card>
</div>
<div *ngIf="tagName" fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-fab color="white" (click)="prevQuote()">
    <mat-icon>navigate_before</mat-icon>
  </button>

  <mat-card>
    <mat-card-content>
      <div *ngIf="!quotePresent.dialogue; else Dialogue">
        <p>"{{ quotePresent.body }}"</p>
        <div style="float:right">
          <p>~{{ quotePresent.author }}</p>
        </div>
      </div>
      <ng-template #Dialogue>
        <ul>
          <li *ngFor="let dialogue of quotePresent.lines">
            {{ dialogue.body }}
          </li>
        </ul>
      </ng-template>
    </mat-card-content>
    <br />
    <mat-card-actions>
      <button mat-icon-button [style.color]="iconFav" (click)="likeQuote()" >
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <button mat-fab color="white" (click)="nextQuote()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
