<div fxLayout="column" fxLayoutAlign="space-around none" fxLayoutGap="50px">
  
  <div fxLayout="column" fxLayoutAlign="start center">
    <mat-card class="search-card-form">
      <mat-form-field class="search-form">
        <input
          matInput
          [(ngModel)]="inputTag"
          placeholder="Search Quotes by Tags"
          (keyup.enter)="searchTagQuote(inputTag)"
        />
      </mat-form-field>
    </mat-card>
  </div>
  
  <app-quotes [tagName]="tagSearch"></app-quotes>
</div>
